:root {
    --ld-red-100: hsl(358, 100%, 84%);
    --ld-red-200: hsl(358, 100%, 80%);
    --ld-red-300: hsl(358, 100%, 76%);
    --ld-red-400: hsl(358, 100%, 72%);
    --ld-red-500: hsl(358, 100%, 67%);
    --ld-red-600: hsl(358, 100%, 64%);
    --ld-red-700: hsl(358, 100%, 60%);
    --ld-red-800: hsl(358, 100%, 56%);
    --ld-red-900: hsl(358, 100%, 52%);

    --ld-yellow-100: hsl(44, 100%, 78%);
    --ld-yellow-200: hsl(44, 100%, 74%);
    --ld-yellow-300: hsl(44, 100%, 70%);
    --ld-yellow-400: hsl(44, 100%, 65%);
    --ld-yellow-500: hsl(44, 100%, 61%);
    --ld-yellow-600: hsl(44, 100%, 56%);
    --ld-yellow-700: hsl(44, 100%, 52%);
    --ld-yellow-800: hsl(44, 100%, 48%);
    --ld-yellow-900: hsl(44, 100%, 44%);

    --ld-blue-100: hsl(203, 77%, 60%);
    --ld-blue-200: hsl(203, 77%, 56%);
    --ld-blue-300: hsl(203, 77%, 52%);
    --ld-blue-400: hsl(203, 77%, 48%);
    --ld-blue-500: hsl(203, 77%, 43%);
    --ld-blue-600: hsl(203, 77%, 40%);
    --ld-blue-700: hsl(203, 77%, 36%);
    --ld-blue-800: hsl(203, 77%, 32%);
    --ld-blue-900: hsl(203, 77%, 28%);

    --ld-green-100: hsl(83, 68%, 62%);
    --ld-green-200: hsl(83, 68%, 58%);
    --ld-green-300: hsl(83, 68%, 54%);
    --ld-green-400: hsl(83, 68%, 50%);
    --ld-green-500: hsl(83, 68%, 47%);
    --ld-green-600: hsl(83, 68%, 43%);
    --ld-green-700: hsl(83, 68%, 40%);
    --ld-green-800: hsl(83, 68%, 36%);
    --ld-green-900: hsl(83, 68%, 32%);

    --ld-purple-100: hsl(265, 32%, 60%);
    --ld-purple-200: hsl(265, 32%, 56%);
    --ld-purple-300: hsl(265, 32%, 52%);
    --ld-purple-400: hsl(265, 32%, 48%);
    --ld-purple-500: hsl(265, 32%, 44%);
    --ld-purple-600: hsl(265, 32%, 40%);
    --ld-purple-700: hsl(265, 32%, 36%);
    --ld-purple-800: hsl(265, 32%, 32%);
    --ld-purple-900: hsl(265, 32%, 28%);

    --ld-white: hsl(0, 0%, 100%);

    --ld-light-gray-100: hsl(0, 0%, 95%);
    --ld-light-gray-200: hsl(0, 0%, 90%);
    --ld-light-gray-300: hsl(0, 0%, 85%);
    --ld-light-gray-400: hsl(0, 0%, 80%);
    --ld-light-gray-500: hsl(0, 0%, 75%);
    --ld-light-gray-600: hsl(0, 0%, 70%);
    --ld-light-gray-700: hsl(0, 0%, 65%);
    --ld-light-gray-800: hsl(0, 0%, 60%);
    --ld-light-gray-900: hsl(0, 0%, 55%);
    
    --ld-light-gray-1000: hsl(0, 0%, 50%);

    --ld-gray-100: hsl(0, 0%, 45%);
    --ld-gray-200: hsl(0, 0%, 40%);
    --ld-gray-300: hsl(0, 0%, 35%);
    --ld-gray-400: hsl(0, 0%, 30%);
    --ld-gray-500: hsl(0, 0%, 25%);
    --ld-gray-600: hsl(0, 0%, 20%);
    --ld-gray-700: hsl(0, 0%, 15%);
    --ld-gray-800: hsl(0, 0%, 10%);
    --ld-gray-900: hsl(0, 0%, 5%);
    
    --ld-black: hsl(0, 0%, 0%);


    --ld-accent: #eb5e28;
    --ld-dark: #252422;
    --ld-light: #fffcf2;
}